alabaster==0.7.13
asgiref==3.7.2
blog==1.0.1
bootstrap-py==2.0.0
cloudinary==1.36.0
crispy-bootstrap5==0.7
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==4.2.6
django-allauth==0.57.0
django-cors-headers==4.3.0
django-crispy-forms==2.1
django-summernote==0.8.20.0
docopt==0.6.2
gunicorn==21.2.0
imagesize==1.4.1
Markdown==3.5
oauthlib==3.2.2
pguard==0.4.0
Pillow==10.1.0
psycopg2==2.9.9
pyembed==1.3.3
pyembed-markdown==1.1.0
PyJWT==2.8.0
pymdown-extensions==10.3
python3-openid==3.2.0
pytz==2023.3.post1
requests-oauthlib==1.3.1
setuptools-scm==8.0.4
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
sqlparse==0.4.4
urllib3==1.26.15
