{% extends 'index.html' %}
{% block content %}
<!-- Contact Section-->
<section class="margin-section">
    <div class="profile-section info-section height-section">
        <!-- Contact Section Heading-->
        <h2 class="section-title">Edit Profile</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Form Section-->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button class="button" aria-label="submit" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}