{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="restaurant advisor">
        <meta name="author" content="Juan Santostefano">
        <title>Restaurant-Advisor</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'css/img/favicon.ico' %}">
        <!-- Icons -->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body class="lexend-deca-title">
        <!-- Navigation--> 
        <nav>
            <div class="nav-container">
                <!-- LOGO -->
                <div class="nav-logo">
                    <a href="{% url 'index' %}"><img src="https://res.cloudinary.com/dccb0yehp/image/upload/v1709148077/media/images/logo_pqz5vw.webp" width="90"  height="80" alt="logo"></a>
                </div>
                <!-- ALERT MESSAGES -->
                <div class="nav-messages">
                    {% for message in messages %}
                    <label>
                        <input type="checkbox" class="alertCheckbox" autocomplete="off"/>
                        <div class="alert notice">
                          <span class="alertClose">X</span>
                          <span class="alertText">{{ message | safe }} <br class="clear"/></span>
                        </div>
                    </label>   
                    {% endfor %}
                </div> 
                <!-- UL ELEMENTS -->
                <div class="nav-links">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'profile_view' request.user.id %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Sign up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        <!-- Masthead-->
        <header class="index-header">
            <!-- Masthead Heading-->
            <h1 class="masthead">Restaurant Advisor</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p>Discover your next dining adventure with our Restaurant Advisor website. Explore client reviews, recommendations, and insider tips to find the perfect restaurant for every occasion.</p>
        </header>
        <!--Section-->
        <section >
            <h2 class="selected-restaurants">Selected Restaurants</h2>
            <!--Grid post-->
            <div class="index-grid">
                {% for post in posts %}         
                    <div class="restaurant-container">
                        <h2>{{ post.title }}</h2>
                        <br>
                        {% if post.image %}
                        <img src="{{ post.image.url }}" width="300" height="200" alt="restaurant-image">
                        {% endif %}
                        <p>{{ post.intro }}</p>
                        <a href="{% url 'post_detail' post.slug %}">Reviews</a>
                    </div>
                {% endfor %}
            </div>                  
        </section>
        {% endblock content %}
        <!-- Footer-->
        <footer>
            <div>
                <h3>Social Media</h3>
                <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook" rel="noopener noreferrer"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a href="https://twitter.com/home" target="_blank" aria-label="Twitter" rel="noopener noreferrer"><i class="fab fa-fw fa-twitter"></i></a>
                <a href="https://www.linkedin.com/" target="_blank" aria-label="LinkedIn" rel="noopener noreferrer"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a href="https://www.youtube.com/" target="_blank" aria-label="Youtube" rel="noopener noreferrer"><i class="fab fa-fw fa-youtube"></i></a>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright">
            <small>© 2023 Copyright: Juan-Santostefano</small>
        </div>
    </body>
</html>


