{% extends 'index.html' %}
{% block content %}

    <!-- POST -->
     <section class="page-section portfolio" id="portfolio">
        <div class="container">
        <h1 class="title">{{ post.title }}</h1>
        {% if post.image %}
        <img src="{{ post.image.url }}" width="300px" height="200px">
        {% endif %}
        <p><strong>{{ post.intro }}</strong></p>

        <p>{{ post.body }}</p>

        <hr>

        <!-- COMMENTS -->
        <h2 class="subtitle">Comments</h2>

        {% for comment in post.comments.all %}
                        <div class="comment-content">
                            <strong>{{ comment.name }}</strong> <small>{{ comment.date_added }}</small>
                            <br>
                            
                            {{ comment.body }}
                        
                        
                            {% if user.is_authenticated %}
                            {% if comment.name == user %}
                            <!--Edit comment -->
                            
                            <form method="post" action="{% url 'edit_comment' comment_id=comment.id %}" class="edit-delete-form">
                            {% csrf_token %}
                                <button class="btn-delte-edit" type="submit"><i class="fa-regular fa-pen-to-square"></i></button>
                            </form>
                            
                            <!--Delete comment -->
                            <form method="post" action="{% url 'delete_comment' comment_id=comment.id %}" class="edit-delete-form">
                                {% csrf_token %}
                                    <button class="btn-delete-edit" type="submit"><i class="fa-solid fa-trash"></i></a></button>
                                {% endif %}
                                {% endif %}
                            </form>
                        </div>
                    
        {% empty %}
        <div class="notification">
            <p>No comments yet!</p>
        </div>
        {% endfor %}
        <hr>

        <!-- ADD COMMENT -->
        <h2 class="subtitle">Add a comment</h2>
        <br>
        <form method="POST" action=".">

        
            {% if user.is_authenticated %}
            {% csrf_token %}

            {{ form.body }}
            
            
            <div class="field">
                <div class="control">
                    <button class="btn btn-primary btn-xl">Submit</button>
                </div>
            </div>
            {% else %}
            <p><a href="{% url 'login' %}">LOG IN</a>  or <a href="{% url 'register' %}">SING UP</a>  to leave a comment!</p>
            {% endif %}
        </form>
    </div>
     </section> 
     {% endblock content %}