{% extends 'index.html' %}
{% block content %}

<!-- POST -->
<section>
    <div>
        <h1>{{ post.title }}</h1>
        {% if post.image %}
        <img src="{{ post.image.url }}" width="300px" height="200px">
        {% endif %}
        <p><strong>{{ post.intro }}</strong></p>
        <p>{{ post.body }}</p>
        <hr>

        <!-- COMMENTS -->
        <h2>Comments</h2>

        {% for comment in post.comments.all %}
        <div class="comments">
            {% if profile.image %}
            <img src="{{ profile.image.url }}" width="200px" height="200px" alt="profile-picture">
            {% endif %}
            <strong> {{ comment.name }}</strong> <small>{{ comment.date_added }}</small>
            <br>
            {{ comment.body }}
            {% if user.is_authenticated %}
            {% if comment.name == user %}

            <!--Edit comment -->
            <button><a href="{% url 'edit_comment' comment.id %}"><i class="fa-regular fa-pen-to-square icon-color"></i></a></button>

            <!--Delete comment -->
            <button><a href="{% url 'delete_comment' comment.id %}"><i class="fa-solid fa-trash icon-color"></i></a></button>
            {% endif %}
            {% endif %}
        </div>
                    
        {% empty %}
        <div>
            <p>No comments yet!</p>
        </div>
        {% endfor %}
        <hr>

        <!-- ADD COMMENT -->
        <h2>Add a comment</h2>
        <form method="POST" action=".">
            {% if user.is_authenticated %}
            {% csrf_token %}
            {{ form.body }}
            <div>
                <div>
                    <button>Submit</button>
                </div>
            </div>
            {% else %}
            <p><a href="{% url 'login' %}">LOG IN</a>  or <a href="{% url 'register' %}">SING UP</a>  to leave a comment!</p>
            {% endif %}
        </form>
    </div>
</section> 
{% endblock content %}