{% extends 'index.html' %}
{% block content %}

<!-- PROFILE SECTION-->
<section>
    <div class="info-section profile-section">
        <!-- Contact Section Heading-->
        <h2 class="section-title">{{ profile.user.username }}'s Profile</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Information -->
        <div>
            <div>
                <h3>First Name:</h3>
                <p>{{ profile.first_name }}</p>
            </div>
            <div>
                <h3>Last Name:</h3>
                <p>{{ profile.last_name }}</p>
            </div>
            <div>
                <h3>Instagram:</h3>
                <p>{{ profile.instagram }}</p>
            </div>
            <div>
                <h3>Email:</h3>
                <p>{{ profile.email }}</p>
            </div>
            <div>
                <h3>Image: </h3>
            </div>
            {% if profile.image %}
            <img class="img-mobile" src="{{ profile.image.url }}" width="200px" height="200px" alt="profile-image">
        {% endif %}
        <br>
        <button class="button" aria-label="submit"><a href="{% url 'edit_profile' request.user.id %}">Edit profile</a></button>
        </div>
        
    </div>
    
</section>      
{% endblock content %}